* {
    font-family: roboto;
}

.bodywrapper {
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
}
a, p{
    font-size: 1em;
}


footer{
    color:#959CB6;
    text-transform: uppercase;
    margin-top: 1rem;
    bottom: 0rem;
    text-align: center;
    margin-top: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section {
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-right: 1rem;
}

.sectionInput {
    padding-left: 10rem;
    max-width: 24.25rem;
}

.image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 40rem;
}

.pass{
    margin-top: 0.5rem;
}

.forgetpass {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: end;
}

.textWithLink {
    color: #1E4AE9;
    text-decoration:none;
    
}

.input {
    padding-left: 0.8rem;
    height: 2rem;
    border: 1px solid #D4D7E3; 
    border-radius: 0.5rem;
    max-width: 24.25rem;
    width: 95%;
    font-family: roboto;
    background-color: #F7FBFF;
}

.button {
    border-radius: 0.8rem;
    width: 100%;
    min-width: 20rem;
    min-height: 2.5rem;
    max-width: 24.25rem;
    background-color: #162D3A;
    color: #ffffff;
}

.textSignUp{
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 62.5000001rem) {
    .desktop {
        display: none;
    }
}


@media (max-width: 62.5rem) {
    body {
        min-height: 70vh;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-top: 1rem;

    }

    .mobile {
        display: none;
    }

    .section {
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-right: 0rem;
    }

    .sectionInput {
        padding-left: 0rem;
    }

}